<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDch4VkGHjLkXsE8ZBXqP20X9q-yf2lwkw</string>
	<key>GCM_SENDER_ID</key>
	<string>416769283545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutApp5511</string>
	<key>PROJECT_ID</key>
	<string>workout-app-tj</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-app-tj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416769283545:ios:6372739693774148c5b5c8</string>
</dict>
</plist>